/target
/dependency-reduced-pom.xml
/.classpath
/.project
/.settings
/bin/
VaultUnlockedAPI.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/discord.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/encodings.xml
